**/build
*.iml
.DS_Store
.cxx
.externalNativeBuild
.gradle
.idea
base/**/release
build/
captures/
gradelew
gradelew.bat
icon.png
keystore
local.properties
secret.properties
gradle-daemon-jvm.properties
gradlew
gradlew.bat
base/debug/*
